@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}



/* LOGIN */

.logo-deeptimize {
  height: 40%;
  width: 40%;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -50px;
  height: 100vh; /* Cette propriété est optionnelle et peut être ajustée en fonction de votre mise en page */
}

.title-login {
  margin-top: -50px;
  margin-bottom: 100px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; /* Ajustez la largeur si nécessaire */
}

.form-group {
  margin-bottom: 25px; /* Espace entre les champs du formulaire */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  margin-bottom: 5px; /* Espace entre le label et l'input */
}

input {
  width: 100%;
  padding: 8px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  box-sizing: border-box;
  background: transparent;
  outline: none;
  color: white;
}

input:focus {
  border-bottom: 2px solid #77E16F;
}

.forgot-password {
  margin-bottom: 20px; /* Espace entre le lien et le bouton de connexion */
  color: #77E16F;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password:hover {
  text-decoration: underline;
  cursor: pointer;
}

.login-button {
  padding: 15px 50px;
  background-color: #ffffff;
  color: black;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 25px;
}

.login-button:hover {
  background-color: #000000; /* Couleur au survol */
  color: white;
}

/* END LOGIN */


/* NAVBAR */

.navbar-logo {
  height: 20%;
  width: 20%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}


/* END NAVBAR */


/* HELP */

/* styles.css */

.help-title {
  text-align: center;
  margin-bottom: 50px; 
}

.help-text {
  margin-left: 100px; 
  color: #ffffff; 
  font-size: 16px; 
  line-height: 1.6; 
}

.qa-container {
  margin-top: 20px; 
}

.qa-item {
  margin-bottom: 80px; 
}

.blue-text {
  color: blue;
}


/* END HELP */


/* UPLOAD */

.upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55vh; /* Ajustez la hauteur comme nécessaire */
}

.yellow-text {
  color: yellow;
}

.upload-box {
  width: 1000px; /* Ajustez la largeur comme nécessaire */
  height: 300px; /* Ajustez la hauteur comme nécessaire */
  background-color: #fff;
  border: 2px dashed #ccc; /* Bordure pointillée grise */
  display: flex;
  color: #000000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 25px;
}

.drop-text {
  font-size: 40px;
  margin-bottom: -5px;
  margin-top: 15px;
}

.upload-button {
  margin-top: 20px; /* Espace supplémentaire au-dessus du bouton */
  padding: 20px 80px;
  font-size: 26px;
  background-color: #000000; /* Couleur de fond du bouton */
  color: yellow; /* Couleur du texte du bouton */
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.analysis-option {
  background-color: #000000;
  color: white;
  width: 200px;
  text-align: center;
  border-radius: 20px;
}



/* END UPLOAD */